<template>
  <div>
    <!-- 根据是不是全屏来判断展示哪个icon图标 -->
    <el-tooltip :content="$t('msg.navBar.screenfull')">
      <svg-icon
        @click="fullScreen"
        :icon="!isFull ? 'fullscreen' : 'exit-fullscreen'"
        id="guide-full"
      ></svg-icon>
    </el-tooltip>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import screenfull from 'screenfull'

// 判断是不是全屏的一个变量
const isFull = ref(false)

// 点击的方法
const fullScreen = () => {
  // 这个改变状态的方法不太合理,应该通过screenfull提供的监听方法来进行修改这个值(在组件mounted和unmounted的时候分别改变这个值得)
  isFull.value = !isFull.value
  screenfull.toggle()
}
</script>

<style lang="scss" scoped></style>
