<template>
  <el-dialog :model-value="modelValue" title="更换主题色" width="30%">
    <!-- 取色器 -->
    <div class="center">
      <el-color-picker
        class="el-color"
        :predefine="predefineColors"
        v-model="mColor"
      />
    </div>
    <template #footer>
      <span class="dialog-footer">
        <!-- 取消 -->
        <el-button @click="closed">{{ $t('msg.universal.cancel') }}</el-button>
        <!-- 确定 -->
        <el-button type="primary" @click="confirm">{{
          $t('msg.universal.confirm')
        }}</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { defineProps, defineEmits, ref } from 'vue'
import { useStore } from 'vuex'
import { generateNewStyle, writeNewStyle } from '@/utils/theme'

const store = useStore()

// 控制显示的开关是父组件传过来的
defineProps({
  modelValue: {
    type: Boolean,
    defalut: false,
    required: true
  }
})

// 字传父需要用到自定义事件
const emit = defineEmits(['update:modelValue'])

// 颜色选择器绑定的颜色值
const mColor = ref(store.getters.themeColor)

// 预定义色值
const predefineColors = [
  '#ff4500',
  '#ff8c00',
  '#ffd700',
  '#90ee90',
  '#00ced1',
  '#1e90ff',
  '#c71585',
  'rgba(255, 69, 0, 0.68)',
  'rgb(255, 120, 0)',
  'hsv(51, 100, 98)',
  'hsva(120, 40, 94, 0.5)',
  'hsl(181, 100%, 37%)',
  'hsla(209, 100%, 56%, 0.73)',
  '#c7158577'
]

// dialog
const closed = () => {
  // 点击关闭的时候
  emit('update:modelValue', false)
}

// 点击确定的时候
const confirm = async () => {
  // 关闭弹框
  closed()
  // 还需要把选好的颜色保存起来
  store.commit('theme/setMainColor', mColor.value)
  // 根据选择的颜色生成样式表
  const newStyle = await generateNewStyle(mColor.value)
  // 重新写入document
  writeNewStyle(newStyle)
}
</script>

<style lang="scss" scoped>
.center {
  text-align: center;
}
</style>
