<template>
  <div class="app-main">
    <!-- 这里要展示tagViews -->
    <router-view v-slot="{ Component, route }">
      <transition name="fade-transform" mode="out-in">
        <keep-alive>
          <component :is="Component" :key="route.path" />
        </keep-alive>
      </transition>
    </router-view>
  </div>
</template>

<script setup>
import { watch } from 'vue'
import { useRoute } from 'vue-router'
import { isTags } from '@/utils/isTags'
import { useStore } from 'vuex'
import { generateTitle, watchSwitchLang } from '@/utils/i18n.js'

const route = useRoute()
const store = useStore()

/**
 * 生成 title
 */
const getTitle = (route) => {
  let title = ''
  if (!route.meta) {
    // 处理无 meta 的路由
    const pathArr = route.path.split('/')
    title = pathArr[pathArr.length - 1]
  } else {
    title = generateTitle(route.meta.title)
  }
  return title
}

// 监听路由的变化来进行实时的更新tagviews
watch(
  route,
  (to, from) => {
    // 有些页面不应该出现在tags上
    if (!isTags(to)) {
      const { fullPath, path, params, meta, name, query } = to

      store.commit('app/setTagViewsList', {
        fullPath,
        path,
        params,
        meta,
        name,
        query,
        title: getTitle(to)
      })
    }
  },
  {
    immediate: true
  }
)

/**
 * 国际化 tags
 */
watchSwitchLang(() => {
  store.getters.tagsViewList.forEach((route, index) => {
    // console.log(route)
    store.commit('app/changeTagsView', {
      index,
      tag: {
        ...route,
        title: getTitle(route)
      }
    })
  })
})
</script>

<style lang="scss" scoped>
// vh代表可视高度，显示器的高估
.app-main {
  min-height: calc(100vh - 50px - 43px);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 104px 20px 20px 20px;
  box-sizing: border-box;
}
</style>
