<template>
  <div class="navbar">
    <!-- 控制左侧是否是伸缩状态的开关按钮 -->
    <Hamburger class="hamburger-container"></Hamburger>
    <!-- 面包屑部分 -->
    <Breadcrumb id="guide-breadcrumb" class="breadcrumb-container"></Breadcrumb>
    <!-- 右侧头像和展示弹框部分 -->
    <div class="right-menu">
      <!-- 引导页帮助的按钮 -->
      <Guide class="right-menu-select"></Guide>
      <!-- 搜索的按钮 -->
      <header-search class="right-menu-select"></header-search>
      <!-- 是否全屏按钮 -->
      <Screenfull class="right-menu-select"></Screenfull>
      <!-- 主题色变更按钮 -->
      <theme-select class="right-menu-select"></theme-select>
      <!-- 语言选择 -->
      <lang-select class="right-menu-select"></lang-select>
      <el-dropdown trigger="click" class="avatar-container">
        <div class="avatar-wrapper">
          <el-avatar
            shape="square"
            :size="40"
            :src="$store?.state?.user?.userInfo?.data?.avatar"
          ></el-avatar>
          <el-icon><Tools /></el-icon>
        </div>
        <template #dropdown>
          <el-dropdown-menu>
            <router-link to="/">
              <el-dropdown-item>{{ $t('msg.navBar.home') }}</el-dropdown-item>
            </router-link>
            <el-dropdown-item> {{ $t('msg.navBar.course') }} </el-dropdown-item>
            <el-dropdown-item @click="logout" divided>
              {{ $t('msg.navBar.logout') }}</el-dropdown-item
            >
          </el-dropdown-menu>
        </template>
      </el-dropdown>
    </div>
  </div>
</template>

<script setup>
import {} from 'vue'
import store from '@/store'
import Hamburger from '@/components/hamburger/index'
import Breadcrumb from '@/components/Breadcrumb'
import LangSelect from '@/components/LangSelect'
import Screenfull from '@/components/Screenfull'
import ThemeSelect from '@/components/ThemeSelect'
import HeaderSearch from '@/components/HeaderSearch'
import Guide from '@/components/Guide'

// 退出登录操作
const logout = () => {
  store.dispatch('user/logout')
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  // 控制左侧的开关
  .hamburger-container {
    float: left;
    cursor: pointer;
    transition: background 0.28s;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .right-menu {
    display: flex;
    align-items: center;
    float: right;
    padding-right: 16px;
    // v-deep用来深度监听
    ::v-deep .avatar-container {
      cursor: pointer;
      .avatar-wrapper {
        margin-top: 5px;
        position: relative;
        .el-avatar {
          --el-avatar-bg-color: none;
          margin-right: 12px;
        }
      }
    }
    ::v-deep .right-menu-select {
      display: inline-block;
      padding: 0 18px 0px 0px;
      font-size: 24px;
      color: #5a5e66;
      cursor: pointer;
    }
  }
  .breadcrumb-container {
    float: left;
  }
}
</style>
