<template>
  <div
    class="app-wrapper"
    :class="[$store.getters.sidebarOpened ? 'openSidebar' : 'hideSidebar']"
  >
    <!-- 左侧menu菜单 -->
    <slide-bar
      class="sidebar-container"
      :style="{ backgroundColor: $store.getters.cssVar.menuBg }"
      id="guide-sidebar"
    ></slide-bar>
    <!-- 右侧整体 -->
    <div class="main-container">
      <!-- 顶部navbar -->
      <div class="fixed-header">
        <nav-bar></nav-bar>
        <!-- tags -->
        <tags-view id="guide-tags"></tags-view>
      </div>
      <!-- 放内容的区域 -->
      <app-main></app-main>
    </div>
  </div>
</template>

<script setup>
import {} from 'vue'
import SlideBar from './components/Sidebar'
import AppMain from './components/AppMain.vue'
import NavBar from './components/NavBar.vue'
import TagsView from '@/components/TagsView'
// import variables from '@/style/variables.scss' // js中使用scss文件：export出来的变量
// import { useStore } from 'vuex'
</script>

<style lang="scss" scoped>
// 引入写好的scss样式需要用到这种方式
@import '~@/style/mixin.scss';
@import '~@/style/variables.scss';

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
}

// 要在这里面用全局定义的变量 需要写成 #{变量名}
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  // 这是需要吸顶的地方，需要动态的根据左边的盒子宽度进行改变
  width: calc(100% - #{$sideBarWidth});
  transition: width 0.28s;
}

.hideSidebar .fixed-header {
  width: calc(100% - #{$hideSideBarWidth});
}
</style>
