<template>
  <el-dropdown trigger="click" @command="handleSetLang" class="international">
    <el-tooltip :content="$t('msg.navBar.lang')" :effect="effect">
      <svg-icon id="guide-lang" icon="language"></svg-icon>
    </el-tooltip>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item :disabled="language === 'zh'" command="zh"
          >中文</el-dropdown-item
        >
        <el-dropdown-item :disabled="language === 'en'" command="en"
          >English</el-dropdown-item
        >
      </el-dropdown-menu>
    </template>
  </el-dropdown>
</template>

<script setup>
import { computed, defineProps } from 'vue'
import { useStore } from 'vuex'
import { useI18n } from 'vue-i18n'
import { ElMessage } from 'element-plus/lib/components'
const store = useStore()
const i18n = useI18n() // 使用

// 这是tools的主题
defineProps({
  effect: {
    type: String,
    default: 'dark',
    validator: (val) => {
      return ['dark', 'light'].includes(val)
    }
  }
})

const language = computed(() => {
  return store.getters.language
})

const handleSetLang = (val) => {
  i18n.locale.value = val
  store.commit('app/setLanguage', val)
  ElMessage.success(i18n.t('msg.toast.switchLangSuccess'))
}
</script>

<style lang="scss" scoped></style>
