<template>
  <!-- 下拉框 -->
  <el-dropdown
    v-bind="$attrs"
    trigger="click"
    class="theme"
    @command="handleSetTheme"
  >
    <el-tooltip :content="$t('msg.navBar.themeChange')">
      <svg-icon id="guide-theme" icon="change-theme"></svg-icon>
    </el-tooltip>
    <template #dropdown>
      <el-dropdown-menu>
        <el-dropdown-item command="color">
          {{ $t('msg.theme.themeColorChange') }}
        </el-dropdown-item>
      </el-dropdown-menu>
    </template>
  </el-dropdown>
  <!-- 弹出层 -->
  <select-color v-model="selectColorShow"></select-color>
</template>

<script setup>
import { ref } from 'vue'
import SelectColor from './components/SelectColor.vue'
// 控制是否展示的开关
const selectColorShow = ref(false)

// 点击事件
const handleSetTheme = (command) => {
  selectColorShow.value = true
}
</script>

<style lang="scss" scoped>
.dialog {
  ::v-deep .el-dialog__body {
    text-align: center;
  }
}
</style>
