<template>
  <div class="hamburger-container" @click="toggleClick">
    <svg-icon
      class="hamburger"
      :icon="
        $store.getters.sidebarOpened ? 'hamburger-opened' : 'hamburger-closed'
      "
      id="guide-hamburger"
    ></svg-icon>
  </div>
</template>

<script setup>
import { useStore } from 'vuex'

const store = useStore()
const toggleClick = () => {
  store.commit('app/setOpend')
}
</script>

<style lang="scss" scoped>
.hamburger-container {
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  .hamburger {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
}
</style>
