<template>
  <div :class="{ show: isShow }" class="header-search">
    <el-tooltip :content="$t('msg.navBar.headerSearch')">
      <svg-icon
        class="search-icon"
        icon="search"
        @click.stop="onShowClick"
        id="guide-search"
      ></svg-icon>
    </el-tooltip>
    <!-- 远程搜索 -->
    <el-select
      v-model="search"
      class="header-search-select"
      ref="headerSearchSelectRef"
      :multiple="false"
      filterable
      remote
      placeholder="Search"
      default-first-option
      :remote-method="remoteMethod"
      @change="onSelectChange"
    >
      <el-option
        v-for="option in result"
        :key="option"
        :label="option.title.join('->')"
        :value="option"
      ></el-option>
    </el-select>
  </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import { filterRoutes } from '@/utils/routes'
import { useRouter } from 'vue-router'
import { generateRoutes } from './SouceMap'

const result = ref([])

const router = useRouter()
// 绑定后选中的值
const search = ref('')

// 控制搜索框是否显示
const isShow = ref(false)

// el-select 实例
const headerSearchSelectRef = ref(null)

// 点击的时候出现搜索框同时得焦
const onShowClick = () => {
  headerSearchSelectRef.value.focus()
  isShow.value = !isShow.value
}

// 总的数据源
const souce = computed(() => {
  const filterRoute = filterRoutes(router.getRoutes())
  return generateRoutes(filterRoute)
})

const remoteMethod = (value) => {
  if (value === '') {
    result.value = []
  } else {
    result.value = []
    souce.value.map((item) => {
      if (item.title.some((ite) => ite.includes(value))) {
        result.value.push(item)
      }
    })
  }
}

// 当选择的发生变化的时候
const onSelectChange = (val) => {
  router.push(val.path)
  // 数组清空
  result.value = []
  // 关闭搜索框
  isShow.value = false
}
</script>

<style lang="scss" scoped>
.header-search {
  font-size: 0 !important;
  .search-icon {
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
  }
  .header-search-select {
    font-size: 18px;
    transition: width 0.2s;
    width: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;

    ::v-deep .el-input__inner {
      border-radius: 0;
      border: 0;
      padding-left: 0;
      padding-right: 0;
      box-shadow: none !important;
      border-bottom: 1px solid #d9d9d9;
      vertical-align: middle;
    }
  }
  &.show {
    .header-search-select {
      width: 210px;
      margin-left: 10px;
    }
  }
}
</style>
