<template>
  <div>
    <!-- 顶部头像部分 -->
    <div class="logo-container">
      <el-avatar
        :size="44"
        shape="square"
        src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
      />
      <h1 class="logo-title" v-if="$store.getters.sidebarOpened">vue3-admin</h1>
    </div>
    <!-- 套一个scroll来处理左侧菜单如果很多的情况 -->
    <el-scrollbar>
      <slidebarmenu></slidebarmenu>
    </el-scrollbar>
  </div>
</template>

<script setup>
import {} from 'vue'
import slidebarmenu from './SlideBarMenu.vue'
</script>

<style lang="scss" scoped>
.el-avatar {
  --el-avatar-bg-color: none;
}
.logo-container {
  height: 44px;
  padding: 10px 0 22px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  h1 {
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    white-space: nowrap;
  }
}
</style>
