<template>
  <svg-icon v-if="icon.includes('el-icon')" icon="user"></svg-icon>
  <svg-icon v-else :icon="icon"></svg-icon>
  <span class="text">{{ generateTitle(title) }}</span>
</template>

<script setup>
import { defineProps } from 'vue'
import { generateTitle } from '@/utils/i18n.js'

defineProps({
  title: {
    type: String,
    required: true
  },
  icon: {
    type: String,
    required: true
  }
})
</script>

<style scoped lang="scss">
.el-sub-menu {
  .text {
    position: absolute;
    left: 65px;
  }
}

.el-sub-menu__title {
  .text {
    position: static;
  }
}
</style>
