<template>
  <div>
    <!-- 多层级渲染的情况 -->
    <el-sub-menu
      v-if="route.children.length > 0"
      :index="route.path"
      class="el-menu"
    >
      <template #title>
        <!-- 这个组件用来处理样式 -->
        <menu-item
          :title="route.meta.title"
          :icon="route.meta.icon"
        ></menu-item>
      </template>
      <!-- 循环渲染 -->
      <sidebar-item
        v-for="item in route.children"
        :key="item.path"
        :route="item"
      ></sidebar-item>
    </el-sub-menu>
    <!-- 只有一层的时候 -->
    <el-menu-item v-else :index="route.path">
      <menu-item :title="route.meta.title" :icon="route.meta.icon"></menu-item>
    </el-menu-item>
  </div>
</template>

<script setup>
import { defineProps } from 'vue'
import menuItem from './menuItem'

defineProps({
  route: {
    type: Object,
    required: true
  }
})
</script>

<style lang="scss" scoped></style>
