<template>
  <el-menu
    :active-text-color="$store.getters.cssVar.menuActiveText"
    :background-color="$store.getters.cssVar.menuBg"
    :text-color="$store.getters.cssVar.menuText"
    :default-active="currentActive"
    :collapse="!$store.getters.sidebarOpened"
    :unique-opened="true"
    router
  >
    <!-- 定义一个组件,这个组件用来生成菜单并且会判断有没有子集来生成对应的菜单 -->
    <!-- 同时把数据传过去来判断是生成el-sub-menu或者el-menu-item -->
    <sidebar-item
      v-for="item in resultMenuData"
      :key="item.path"
      :route="item"
    ></sidebar-item>
  </el-menu>
</template>

<script setup>
import { useRouter, useRoute } from 'vue-router'
import { filterRoutes, generateMenus } from '@/utils/routes.js'
import sidebarItem from './sidebarItem.vue'
import { computed } from 'vue'
const router = useRouter()
const route = useRoute() // 这个可以拿到当前页面的路由信息

// 我需要在这个组件里面拿到处理好的路由信息来生成左侧menu菜单
const routes = filterRoutes(router.getRoutes())
const resultMenuData = generateMenus(routes)
// 默认的动态路由
const currentActive = computed(() => {
  // 最开始写的时候每个菜单对应的index写的就是item.path 所以再写默认的激活路由的时候直接写当前页面的路由就行
  return route.path
})
</script>

<style lang="scss" scoped></style>
