<template>
  <el-breadcrumb class="breadcrumb" separator="/">
    <transition-group name="breadcrumb">
      <!-- 分为两种,一种可以点击一种不可以点击 -->
      <el-breadcrumb-item
        v-for="(item, index) in BreadcrumbData"
        :key="item.path"
      >
        <!-- 不可以点击的 -->
        <span v-if="index === BreadcrumbData.length - 1" class="no-redirect">{{
          generateTitle(item.meta.title)
        }}</span>
        <!-- 可以点击的 -->
        <span v-else class="redirect" @click="onLinkClick(item)">{{
          generateTitle(item.meta.title)
        }}</span>
      </el-breadcrumb-item>
    </transition-group>
  </el-breadcrumb>
</template>

<script setup>
import { watch, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { generateTitle } from '@/utils/i18n.js'

const route = useRoute()
const BreadcrumbData = ref([])
const getBreadcrumbData = () => {
  BreadcrumbData.value = route.matched.filter((item) => {
    return item.meta && item.meta.title
  })
}
// 处理点击事件
const router = useRouter()
const onLinkClick = (item) => {
  router.push(item.path)
}
// 通过监听方法来判断是否发生变化
watch(
  route,
  () => {
    // 路由发生变化的时候,动态的生成一个数组进行渲染面包屑
    getBreadcrumbData()
  },
  {
    immediate: true
  }
)

// 将来需要进行主题替换，所以这里获取下动态样式
const store = useStore()
// eslint-disable-next-line no-unused-vars
const linkHoverColor = ref(store.getters.cssVar.menuBg)
</script>

<style lang="scss" scoped>
.breadcrumb {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  ::v-deep .no-redirect {
    color: #97a8be;
    cursor: text;
  }
  .redirect {
    color: #666;
    font-weight: 600;
    cursor: pointer;
  }

  .redirect:hover {
    // 将来需要进行主题替换，所以这里不去写死样式
    color: v-bind(linkHoverColor);
  }
}
</style>
