$menuText: #bfcbd9;  // 文字颜色
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156; 
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 200px; // 宽度
$hideSideBarWidth: 64px; // 折叠以后的

// JS 与 scss 共享变量，在 scss 中通过 :export 进行导出，在 js 中可通过 import var from "../val.scss" 进行导入并且使用
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}