<template>
  <el-timeline>
    <el-timeline-item
      v-for="item in chapterData"
      :key="item.id"
      :timestamp="item.timestamp"
      placement="top"
    >
      <el-card>
        <h4>{{ item.content }}</h4>
      </el-card>
    </el-timeline-item>
  </el-timeline>
</template>
<script setup>
import { ref } from 'vue'
import { getChapter } from '@/api/user'
import { watchSwitchLang } from '@/utils/i18n'

const chapterData = ref([])

// 获取数据的方法
const getChapterData = async () => {
  const { data } = await getChapter()
  chapterData.value = data
}
getChapterData()
// 监听语言变化的
watchSwitchLang(getChapterData)
</script>
<style lang="scss" scoped></style>
