<template>
  <el-config-provider :locale="$store.getters.language === 'zh' ? zhCn : en">
    <router-view />
  </el-config-provider>
</template>

<script setup>
import zhCn from 'element-plus/lib/locale/lang/zh-cn'
import en from 'element-plus/lib/locale/lang/en'
import { useStore } from 'vuex'
import { generateNewStyle, writeNewStyle } from '@/utils/theme'
import { watchSwitchLang } from '@/utils/i18n'
import { getItem } from '@/utils/storage'

// 一进来页面就初始化主题样式,与上次选择保持一致
const store = useStore()
generateNewStyle(store.getters.themeColor).then((newStyleText) => {
  writeNewStyle(newStyleText)
})

watchSwitchLang(() => {
  // 如果登录过的话
  if (getItem('token')) {
    store.dispatch('user/getUserInfo')
  }
})
</script>

<style lang="scss"></style>
