<template>
  <div class="login-container">
    <el-form
      class="login-form"
      ref="loginForm"
      :model="loginData"
      :rules="rules"
    >
      <div class="title-container">
        <h3 class="title">{{ $t('msg.login.title') }}</h3>
        <lang-select class="lang-select"></lang-select>
      </div>
      <!-- 账号 -->
      <el-form-item prop="username">
        <span class="svg-container">
          <svg-icon icon="user"> </svg-icon>
        </span>
        <el-input
          v-model="loginData.username"
          placeholder="username"
          name="username"
          type="text"
        />
      </el-form-item>
      <!-- 密码 -->
      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon="password"> </svg-icon>
        </span>
        <el-input
          v-model="loginData.password"
          placeholder="password"
          name="password"
          :type="eyeType ? 'password' : 'text'"
        />
        <span class="show-pwd">
          <el-icon>
            <svg-icon
              @click="changeEyeType"
              :icon="!eyeType ? 'eye' : 'eye-open'"
            >
            </svg-icon>
          </el-icon>
        </span>
      </el-form-item>
      <!-- 登录按钮 -->
      <el-button
        :loading="loading"
        type="primary"
        style="width: 100%; margin-bottom: 30px"
        @click="handleLogin"
        >{{ $t('msg.login.loginBtn') }}</el-button
      >
    </el-form>
  </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import SvgIcon from '@/components/SvgIcon'
import { ElMessage } from 'element-plus/lib/components'
import { useStore } from 'vuex' // 新版本中vuex需要这样操作
import { useI18n } from 'vue-i18n'
import LangSelect from '@/components/LangSelect'

const i18n = useI18n()

// 账号密码
const loginData = reactive({
  username: 'admin',
  password: '123456'
})

// 账号密码的验证规则
const rules = {
  username: [
    {
      required: true,
      message: i18n.t('msg.login.usernameRule'),
      trigger: 'blur'
    }
  ],
  password: [
    {
      required: true,
      message: i18n.t('msg.login.passwordRule'),
      // 密码应该有单独的验证规则
      trigger: 'blur'
    }
  ]
}

// 点击切换密码是否为明文
const eyeType = ref(true)
const changeEyeType = () => {
  eyeType.value = !eyeType.value
}

// 处理登录
const loginForm = ref(null) // 通过ref获取实例
const store = useStore()
const loading = ref(false) // 登陆按钮的动画
const handleLogin = () => {
  loading.value = true
  // 登陆前先做一个表单验证
  loginForm.value.validate(async (validate) => {
    if (validate) {
      // 完成登录动作
      try {
        await store.dispatch('user/login', loginData)
        loading.value = false
      } catch (error) {
        loading.value = false
      }
    } else {
      ElMessage.error('输入正确的账号密码！')
    }
  })
}
</script>

<style lang="scss" scoped>
$bg: #ccc;
$dark_gray: #889aa4;
$light_gray: #333;
$cursor: #fff;

.login-container {
  min-height: 100%;
  width: 100%;
  background: url('../../assets/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .login-form {
    position: relative;
    width: 350px;
    height: 100%;
    background-color: #fff;
    padding: 50px;
    left: 64%;
    overflow: hidden;
    margin-top: 260px;
    border-radius: 20px;

    ::v-deep .el-form-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      color: #454545;
    }

    ::v-deep .el-input {
      display: inline-block;
      height: 47px;
      width: 85%;

      input {
        background: transparent;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        padding: 12px 5px 12px 15px;
        color: $light_gray;
        height: 47px;
        caret-color: $cursor;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    display: inline-block;
  }

  .title-container {
    position: relative;

    ::v-deep .lang-select {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 26px;
      background-color: #fff;
    }
    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}
</style>
